.member__info__box {
    display: flex;
    align-items: center;
    margin: auto;
    flex-direction: column;
    box-shadow: 0px 0px 10px 0px gray;
    margin-top: 20px; /* 수정: 중복 margin 속성 삭제 */
    width: 450px;
    height: 570px;
    border-radius: 10px;
}
.picture-img {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100px;
    height: 60px;
}


.box__input__info> input {
    display: block;
    font-weight: bold;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #D2D2D2;
    background-color: #F4F4F4;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
}

#process__under_line {
    border-bottom: none;
}
.box__input__info input{
    display: block;
    padding-left: 15px;
    width: 400px;
    height: 50px;
    font-size: 14px;
    font-weight: bold;
}

.title__idpw {
    font-size: 17px;
    font-weight: 900;
    margin: 15px 0;
    padding-bottom: 20px;
}



/*버튼*/
.change__button__form{
    border-radius: 10px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 60px;   
}



.change__button {
    /*margin-top: 90px;*/
    display: inline-block;
    margin: 15px;
    width: 80px;
    height: 40px;
    font-weight: bold;
    color: white;
    background-color: #5A81FA;
    border: none;
    border-radius: 10px;
    font-size: 15px;
}
