/**오른쪽 채팅창*/
.chat__msg__chat{
    margin-top: 120px;
}
.right__msg{
    display: inline-block;
    position: absolute;
}

.main{
    background-color:#E8F0FF;
    width: 500px;
    height:828px;
}
.chat__msg__header{
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.chat__msg__title{
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
    margin: auto;
    margin-top: 30px;
}
.to_button{
    display: inline-block;
    margin-right: 10px;
    margin-top: 30px;
    width: 70px;
    height: 30px;
    background-color: #4c7dfb;
    border: none;
    cursor: pointer;
    font-size: 11px;
    font-weight: bold;
    color:azure;  
}
button:hover {
    background-color: #59ace8; 
}






/**대화 말풍선*/

.chat__box--left {
    display: block;
    margin-left: 20px;
    margin-top: 70px;
}

.chat__box--right {
    display: block;
    float: right;
    margin-right: 20px;
}

.talk_y{
    position: relative;
    background: white;
    border-radius: 10px;
    text-align: center;
    padding-top: 10px;
    width: 7em;
    height: 2em;
 
}
.tail_y {
    content: '';
    position: relative;
    bottom: 0;
    left: 5%;
    width: 0;
    height: 0;
    border: 0.906em solid transparent;
    border-top-color: white;
    border-bottom: 0;
    border-left: 0;
    margin-left: -0.453em;
    margin-bottom: -0.906em;
}
.time_y{
    padding-left: 30px;
    padding-top: 5px;
    color: gray;
    font-size: 12px;
}
.talk_me{
    display: block;
    background: #4c7dfb;
    color: white;
    border-radius: 10px;
    text-align: center;
    padding-top: 10px;
    width: 7em;
    height: 2em;
}

.time_me{
    margin-left: 60px;
    padding-top: 5px;
    color: gray;
    font-size: 12px;
}

.tail_me {
    content: '';
    position: relative;
    bottom: 0;
    left: 85%;
    width: 0;
    height: 0;
    border: 0.906em solid transparent;
    border-top-color: #4c7dfb;
    border-bottom: 0;
    border-right: 0;
    margin-left: -0.453em;
    margin-bottom: -0.906em;
}

.message {
    position: absolute;
    bottom: 30px;
    height: 30px;
    padding-left: 20px;
    
}

#input__chat {
    height: 30px;
    border-color: #4c7dfb;
   

}

.button__click {
    position: center;
    background-color: #4c7dfb;
    color: white;
    border: none;
    font-weight: bold;
    width: 60px;
    height: 30px;
    cursor: pointer;
}
.name_me, .name_y{
    font-weight: bold;
}